<!-- views/reviews-edit.handlebars -->
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<form method="POST" action="/reviews/{{review._id}}?_method=PUT">
			<!-- FORM -->
			{{> reviews-form type="edit"}}

			<!-- SAVE -->
			<div class="form-group">
				<button class="btn btn-primary" type="submit">Save Review</button>

			<!-- RESET -->
				<button class="btn btn-primary" type="reset">Reset Form</button>

			<!-- CANCEL -->
				<button class="btn btn-primary" onclick="location.href='/reviews/{{review._id}}'" type="button">Cancel</button>
			</div>
		</form>
	</div>
</div>